        <!-- PLUGIN SCRIPTS -->
        <script src="{{ assets_base_url }}/assets/js/bootstrap.min.js"></script>
        <script src="{{ assets_base_url }}/assets/js/imagesloaded.pkgd.min.js"></script>
        <script src="{{ assets_base_url }}/assets/js/masonry.pkgd.min.js"></script>
        <script src="{{ assets_base_url }}/assets/js/jquery.backstretch.min.js"></script>
        <script src="{{ assets_base_url }}/assets/js/jquery.stellar.min.js"></script>
        <script src="{{ assets_base_url }}/assets/js/owl.carousel.min.js"></script>
        <script src="{{ assets_base_url }}/assets/js/jquery.shuffle.min.js"></script>
        <script src="{{ assets_base_url }}/assets/js/jquery.hoverdir.js"></script>
        <script src="{{ assets_base_url }}/assets/js/jquery.lazy.min.js"></script>
        <script src="{{ assets_base_url }}/assets/js/functions.js"></script>
        <script src="{{ assets_base_url }}/assets/js/custom.js"></script>
        
        
        <!-- STYLE SWITCHER --> 
        <!-- 
             IMPORTANT: Delete plugin script "style-switcher.js" to disable style-swither.                    
        --> 
        <script src="{{ assets_base_url }}/assets/style-switcher/style-switcher.js"></script>
   
    </body>
</html>
