<!DOCTYPE html>
<html lang="zh-cmn-Hans" prefix="og: http://ogp.me/ns#" class="han-init">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}{{ site.title }}</title>
        <!-- Google Font -->
        <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700,900' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
        <!-- Styles -->
        <link rel="stylesheet" href="{{ assets_base_url }}/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ assets_base_url }}/assets/pe-icon-7-stroke/css/pe-icon-7.css">
        <link rel="stylesheet" href="{{ assets_base_url }}/assets/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ assets_base_url }}/assets/css/animate.min.css"> 
        <link rel="stylesheet" href="{{ assets_base_url }}/assets/css/animations.css"> 
        <link rel="stylesheet" href="{{ assets_base_url }}/assets/css/owl.carousel.css">             
        <link rel="stylesheet" href="{{ assets_base_url }}/assets/css/theme-red.css">
        <link rel="stylesheet" href="{{ assets_base_url }}/assets/css/style.css">
	
    {% assign highlight_base_url = 'https://mazhuang.org/rouge-themes/dist' %}
    {% if site.cdn.jsdelivr.enabled %}
    {% assign highlight_base_url = 'https://cdn.jsdelivr.net/gh/mzlogin/rouge-themes@master/dist' %}
    {% endif %}
    <link rel="stylesheet" href="{{ highlight_base_url }}/{{ site.highlight_theme}}.css">
    {% if site.components.share.enabled %}
    <link rel="stylesheet" href="{{ assets_base_url }}/assets/vendor/share.js/dist/css/share.min.css">
    {% endif %}
    <!-- Latest compiled and minified CSS -->
    {% for css in page.css %}
    <link rel="stylesheet" href="{{ assets_base_url }}/assets/css/{{css}}">
    {% endfor %}

    {% if site.ios_app_name %}
       <meta name="apple-mobile-web-app-capable" content="yes">
       <meta name="apple-mobile-web-app-status-bar-style" content="black">
    {% endif %}
    <link rel="canonical" href="{{ page.url | prepend: site.url }}">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.url }}{{ site.subscribe_rss }}">
    <link rel="shortcut icon" href="{{ assets_base_url }}/favicon.ico">
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}">
      {% if page.keywords %}
      {% assign keywords = page.keywords %}
      {% else %}
      {% assign keywords = site.keywords %}
      {% endif %}
    <meta name="keywords" content="{{ keywords | strip_html | strip_newlines}}">
    <meta name="og:keywords" content="{{ keywords | strip_html | strip_newlines}}">
      {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines}}">
    <meta name="og:description" content="{{ page.excerpt | strip_html | strip_newlines}}">
      {% else if page.description %}
    <meta name="description" content="{{ page.description | strip_html | strip_newlines}}">
    <meta name="og:description" content="{{ page.description | strip_html | strip_newlines}}">
      {% else if content %}
    <meta name="description" content="{{ content | strip_html | strip_newlines | truncatewords: 100 }}">
    <meta name="og:description" content="{{ content | strip_html | strip_newlines | truncatewords: 100 }}">
      {% endif %}
    {% else %}
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="description" content="{{ site.description }}">
    {% endif %}
    {% if page.og_image_url %}
    <meta property="og:image" content="{{ page.og_image_url }}">
    {% else %}
        {% if page.photo_url %}
    <meta property="og:image" content="{{ page.photo_url }}">
        {% endif %}
    {% endif %}
    <meta property="og:url" content="{{ site.url }}{{ page.url | remove_first:'index.html' }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="zh_CN" />
    {% if page.date %}
    <meta property="article:published_time" content="{{ page.date | date: '%Y-%m-%d' }}">
    {% endif %}

        <!--  Js -->
        <script src="{{ assets_base_url }}/assets/js/modernizr.custom.js"></script>
        <script src="{{ assets_base_url }}/assets/js/jquery-2.1.3.min.js"></script>    
    
    
</head>
<body>
        <!-- PRELOADER -->
        <div class="preloader">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>    
        <!-- end: PRELOADER  --> 
        <!-- NAVIGATION -->
        <nav>
            <!-- Logo -->
            <div class="logo-box">
                <a href="index.html" class="logo logo-img">
                    <img src="assets/img/logo-red.png" class="img-responsive" alt="euforia">
                </a>
            </div>
            <!-- Menu button mobile -->
            <button type="button" aria-label="Toggle Navigation" class="menu-button-mobile lines-button x2">
                <span class="lines"></span>
            </button>
            <!-- Menu -->
            <div class="menu-box my-scrollbar">
                <div id="dl-menu" class="dl-menuwrapper">
                    <ul class="dl-menu dl-menuopen">
                        <li><a class="page-link" href="index.html#home" data-hover="首页">首页</a></li>  
                        <li><a class="page-link" href="index.html#about" data-hover="关于">关于</a></li> 
                        <li><a class="page-link" href="index.html#services" data-hover="服务">服务</a></li>
                        <li><a class="page-link" href="index.html#portfolio" data-hover="项目">项目</a></li>
                        <li><a class="page-link" href="index.html#blog" data-hover="博客">博客</a></li>
                        <li><a class="page-link" href="index.html#contact" data-hover="联系">联系</a></li>
                        <!-- submenu / extra -->
                        <li class="submenu"><a href="#" data-hover="extra">extra</a>
                            <ul class="sub-menu">
                                <li class="submenu "><a href="#" data-hover="elements">elements</a>
                                    <ul class="sub-menu">
                                        <li><a class="ajax-loader" href="elements-typography.html" data-hover="typography">typography</a></li>
                                        <li><a class="ajax-loader" href="elements-features.html" data-hover="features">features</a></li>
                                        <li><a class="ajax-loader" href="elements-buttons.html" data-hover="buttons">buttons</a></li>
                                        <li><a class="ajax-loader" href="elements-skills.html" data-hover="skills">skills</a></li>
                                        <li><a class="ajax-loader" href="elements-testimonials.html" data-hover="testimonials">testimonials</a></li>
                                        <li><a class="ajax-loader" href="elements-alerts.html" data-hover="alerts">alerts</a></li>            
                                        <li><a class="ajax-loader" href="elements-social-icons.html" data-hover="social icons">social icons</a></li>
                                    </ul>
                                </li>
                                

                                <li class="submenu"><a href="#" data-hover="项目">项目</a>
                                    <ul class="sub-menu">
                                        <li class="submenu"><a href="#" data-hover="grids">grids</a>
                                            <ul class="sub-menu">
                                                <li><a class="ajax-loader" href="portfolio-grid-boxed-col2.html" data-hover="boxed col 2">boxed col 2</a></li>
                                                <li><a class="ajax-loader" href="portfolio-grid-boxed-col3.html" data-hover="boxed col 3">boxed col 3</a></li>
                                                <li><a class="ajax-loader" href="portfolio-grid-boxed-col4.html" data-hover="boxed col 4">boxed col 4</a></li>
                                                <li><a class="ajax-loader" href="portfolio-grid-wide-col3.html" data-hover="wide col 3">wide col 3</a></li>
                                                <li><a class="ajax-loader" href="portfolio-grid-wide-col4.html" data-hover="wide col 4">wide col 4</a></li>
                                            </ul>
                                        </li>
                                        <li class="submenu"><a href="#" data-hover="masonry">masonry</a>
                                            <ul class="sub-menu">
                                                <li><a class="ajax-loader" href="portfolio-masonry-boxed-col2.html" data-hover="boxed col 2">boxed col 2</a></li>
                                                <li><a class="ajax-loader" href="portfolio-masonry-boxed-col3.html" data-hover="boxed col 3">boxed col 3</a></li>
                                                <li><a class="ajax-loader" href="portfolio-masonry-wide-col3.html" data-hover="wide col 3">wide col 3</a></li>
                                                <li><a class="ajax-loader" href="portfolio-masonry-wide-col4.html" data-hover="wide col 4">wide col 4</a></li>
                                            </ul>
                                        </li>
                                        <li class="submenu"><a href="#" data-hover="single">single</a>
                                            <ul class="sub-menu">
                                                <li><a class="ajax-loader" href="portfolio-single1.html" data-hover="single 1">single 1</a></li>
                                                <li><a class="ajax-loader" href="portfolio-single2.html" data-hover="single 2">single 2</a></li>
                                                <li><a class="ajax-loader" href="portfolio-single3.html" data-hover="single 3">single 3</a></li>
                                                <li><a class="ajax-loader" href="portfolio-single4.html" data-hover="single 4">single 4</a></li>
                                                <li><a class="ajax-loader" href="portfolio-single-video.html" data-hover="single video">single video</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="submenu "><a href="#" data-hover="pages">pages</a>
                                    <ul class="sub-menu">
                                       <li><a class="ajax-loader" href="about-me2.html" data-hover="about me v2">about me v2</a></li>
                                <li><a class="ajax-loader" href="services2.html" data-hover="services v2">services v2</a></li>
                                <li><a class="ajax-loader" href="nofile.html" data-hover="error 404">error 404</a></li>
                                    </ul>
                                </li>
                                
                            </ul>
                        </li>
                        <!-- END: submenu / extra -->
                    </ul>  
                </div>  
            </div>
        
        </nav>
        <!-- end: NAVIGATION -->   
        
        
        <!-- PAGE-WRAPPER -->
        <div class="page-wrapper">
            

            <div class="page-ajax-preloader">
                <i class="fa fa-refresh fa-spin"></i> 
                <span>Loading...</span>
            </div>